:host {
    height: 90px;
    background-color: #EAEAEB;
    display: flex;
    flex-direction: row;
    color: #222;
    box-shadow: 0 2px 3px rgba(0,0,0,0.37), 1px 2px 3px rgba(0,0,0,0.54);
    z-index: 1;
}