:host {
    background-color: #2A2845;
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 1;
    border-right: 1px solid #222;
}

.users {
    color: #222;
}

.users .user {
    margin: 10px 0;
    padding: 10px;
    background: #ccc;
    line-height: 1;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.users .user:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #222;
    margin-right: 10px
}

.users .user.online:before {
    background: green;
}

.users .user.offline:before {
    background: red;
}