/* You can add global styles to this file, and also import other style files */

body {
    width: 100%;
    min-height: 100%;
    background: #eee;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}